<main class="sobre-a-causa">
    <div class="descricao-empresa p-4">
        <h3 id="titulo-causa">
            Conheça as nossas causas 
        </h3>
        <div class="container-fluid">
            <div class="row px-5">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-md-6">
                            <h2 class="sub-titulo text-center">
                                Acessibilidade e inserção no mercado de trabalho
                            </h2>
                            <p class="txt">
                                Nosso foco está na valorização do portador de necessidades especiais enquanto indivíduo, tornando possível seu acesso a educação de qualidade, que a qualificará para o mercado de trabalho.
                            </p>
                            <p class="txt">
                                Além de oferecermos uma plataforma totalmente acessível, 5% de cada curso adquirido em nosso portal é destinado a instituições e ONGs que atuam na inserção de jovens no mercado. Queremos contribuir para um mundo mais acessível a todos, independentemente da classe social, cor, gênero, orientação sexual e necessidade especial.                            </p>
                        </div>
                        <div class="col-md-6">
                            <img alt="acessibilidade" class="img-causa" src="../../../assets/images/bg-causas.jpg" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>